@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  box-sizing: border;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-poppins;
}

.formContent {
  @apply relative px-6;
}

.desfav-btn{
  @apply bg-lightPurple01 w-[7.8rem] rounded-xl flex self-center justify-center py-3.5 mx-2 text-black 
}
