@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-min-height: 52px !important;
  --toastify-color-success: #457937 !important;
  --toastify-color-error: #990000 !important;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: absolute;
    width: 100%;
    opacity: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .button {
    @apply flex justify-center items-center gap-2 px-6 rounded-2xl font-medium text-neutral-1 transition ease-in-out duration-150 hocus:outline-none disabled:bg-neutral-2;
  }

  .button-primary { @apply bg-primary-4 hocus:bg-primary-3 active:bg-primary-5; }
  .button-secondary { @apply bg-neutral-1 border border-primary-4 text-neutral-5 disabled:border-neutral-2 disabled:bg-neutral-1 disabled:text-neutral-2; }
  .button-success { @apply bg-success; }
  .button-danger { @apply bg-danger; }

  .button-sm { @apply py-2 text-sm; }
  .button-md { @apply py-3.5 text-sm; }
  .button-lg { @apply py-3 text-base; }
  .button-xl { @apply py-4 text-xl; }

  .input {
    @apply flex items-center gap-4 w-full h-12 px-4 outline-none border border-[#D0D0D0] bg-white text-sm text-black transition duration-[0.2s] ease-[cubic-bezier(.4,0,1,1)] placeholder:text-sm placeholder:text-neutral-3 focus:border-[#929292];
  }
  
  .input-search {
    @apply flex items-center gap-4 h-12 px-6 py-3 outline-none rounded-2xl bg-[#EEEEEE] text-sm text-neutral-3 placeholder:text-sm placeholder:text-neutral-3;
  }
  
  .input-otp__container {
    @apply flex items-center gap-2;
  }
  
  .input-otp {
    @apply flex justify-center items-center !w-[40px] h-[40px] outline-none border border-[#D0D0D0] rounded-2xl bg-white font-medium text-base leading-5 text-black xs:!w-[42px] xs:h-[42px];
  }

  .select-location {
    @apply cursor-pointer w-full outline-none font-medium text-sm text-black xs:text-lg;
  }

  .checkbox-toggle {
    @apply w-10 h-6 p-0.5 rounded-full bg-neutral-2 after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-[20px] after:bg-white after:transition-all peer-checked:after:-left-[2px] peer-checked:after:border-white peer-checked:bg-primary-5 peer-checked:after:translate-x-full;
  }

  .datepicker {
    @apply w-full outline-none font-medium text-sm text-black placeholder:text-primary-4 disabled:placeholder:text-neutral-3 xs:text-base;
  }

  .seat-label {
    @apply flex justify-center items-center px-3 py-1.5 rounded-md font-medium text-xs text-neutral-3 2xs:text-sm xs:px-3.5 xs:py-2 xs:text-base;
  }

  .seat-number {
    @apply flex justify-center items-center px-3 py-1.5 rounded-md bg-neutral-2 font-medium text-xs text-neutral-3 2xs:text-sm xs:px-3.5 xs:py-2 xs:text-base;
  }

  .seat-separator {
    @apply flex justify-center items-center h-full px-1.5 py-2 rounded-md bg-[#F0F0F0] text-xs text-neutral-3;
  }

  .count-passangers {
    @apply flex justify-center items-center w-10 h-10 p-2 border border-neutral-2 rounded font-medium text-sm text-neutral-5 2xs:w-[60px];
  }

  .count-passangers__button {
    @apply flex justify-center items-center h-10 p-2 outline-none border border-primary-4 rounded text-neutral-2 hocus:text-primary-4;
  }
}

/* React Toastify */
.Toastify__toast-theme--light.Toastify__toast--success {
  @apply flex justify-center items-center px-4.5 py-2.5 rounded-xl bg-success font-medium text-sm text-center text-neutral-1;
}

.Toastify__toast-theme--light.Toastify__toast--error {
  @apply flex justify-center items-center px-4.5 py-2.5 rounded-xl bg-danger font-medium text-sm text-center text-neutral-1;
}

.Toastify__toast-auth .Toastify {
  @apply flex justify-center items-center;
}

.Toastify__toast-auth .Toastify .Toastify__toast-container--bottom-center {
  @apply left-auto translate-x-0;
}

.formContent {
  @apply relative px-6;
}

.desfav-btn{
  @apply bg-primary-1 w-[7.8rem] rounded-xl flex self-center justify-center py-3.5 mx-2 text-black;
}
